# {{ ansible_managed }}
. {
  loadbalance round_robin
  cache 
  prometheus :9153
  log
  errors


  {% if use_google %}
  forward . tls://8.8.8.8 tls://8.8.4.4 {
    tls_servername dns.google
    health_check 1s
  }
  {% endif %}

  {% if use_cloudflare %}
  forward . tls://1.1.1.1 tls://1.0.0.1 {
    tls_servername tls.cloudflare-dns.com
    health_check 1s
  }
  {% endif %}

  {% if use_nextdns %}
  forward . tls://45.90.28.152 tls://45.90.30.152 {
    tls_servername 359de7.dns.nextdns.io
    health_check 1s
  }
  {% endif %}

  hosts {
    {% for ip in internal_dns %}
    {{ ip.ip }} {{ ip.host }}
    {{ ip.ip }} {{ ip.host }}.{{ internal_domain }}
    {% endfor %}

    fallthrough
  }

  
}

