---
# {{ ansible_managed }}
global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'default'
receivers:
- name: 'default'
  opsgenie_configs:
    - api_key: "{{ alertmanager_opsgenie_api_key }}"
      api_url: "https://api.eu.opsgenie.com"
      priority: "P1"


inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'dev', 'instance']
